html 
    head 
        title File Sharing
    body
        h1 Welcome to File Sharing site
        p The purpose of this site is for sharing file
        p Have a account?
        a(href='/login') Sign In